

.mailspooler-mail {
	background:#fff;
	color:#000;
	padding:.5em;
	margin:.5em;
}

.mailspooler-mail * {
	color:#000;
}

.mailspooler-mail p {
	margin: 1em 0;
}


.mailspooler-mail a {
	color:#222;
	text-decoration:underline;
}

.mailspooler-mail a:hover {
	color:#222;
	text-decoration:none;
}